<ServerManagerConfiguration>
    <ProxyGroup name="settings">
        <SettingsProxy name="NetworkEditorSettings" label="Network Editor"
                       processes="client|dataserver|renderserver"
                       class="vtkPVNetworkEditorSettings">
            <Documentation>
                Settings for Network Editor plugin.
            </Documentation>

            <IntVectorProperty name="SwapOnStartup"
                               command="SetSwapOnStartup"
                               number_of_elements="1"
                               default_values="1">
                <Documentation>
                    Swap places with render view when starting ParaView.
                </Documentation>
                <BooleanDomain name="bool" />
            </IntVectorProperty>

            <IntVectorProperty name="UpdateActiveObject"
                               command="SetUpdateActiveObject"
                               number_of_elements="1"
                               default_values="1">
                <Documentation>
                    Set object as active when selecting objects in the network editor.
                </Documentation>
                <BooleanDomain name="bool" />
                <!--
                <Hints>
                    <SaveInQSettings />
                </Hints>
                -->
            </IntVectorProperty>

            <IntVectorProperty name="TooltipWakeupDelay"
                               command="SetTooltipWakeupDelay"
                               number_of_elements="1"
                               default_values="700">
                <Documentation>
                    Specify the delay before a tooltip is shown.
                </Documentation>
                <IntRangeDomain name="range" min="0" max="2000" />
            </IntVectorProperty>

            <IntVectorProperty name="AutoSavePipelineScreenshot"
                               command="SetAutoSavePipelineScreenshot"
                               number_of_elements="1"
                               default_values="0">
                <Documentation>
                    Automatically save pipeline screenshot when state file is saved or loaded alongside the state file (suffix .pipeline.png).
                </Documentation>
                <BooleanDomain name="bool" />
            </IntVectorProperty>

            <Hints>
                <UseDocumentationForLabels />
            </Hints>
        </SettingsProxy>
    </ProxyGroup>
    <ProxyGroup name="networkeditor">
        <Proxy name="NetworkEditorViewSettings">
            <DoubleVectorProperty name="Transform"
                                  label="Transform"
                                  default_values="1 0 0 0 1 0 0 0 1"
                                  number_of_elements="9" />
            <IntVectorProperty name="Scroll"
                               label="Scroll"
                               default_values="0 0"
                               number_of_elements="2" />
        </Proxy>
    </ProxyGroup>
    <ProxyGroup name="sources">
        <SourceProxy name="NetworkEditorStickyNote" label="Network Editor Sticky Note" class="vtkPVTrivialProducer">
            <StringVectorProperty default_values="Note"
                                  name="Caption"
                                  number_of_elements="1" />
            <StringVectorProperty default_values="Text"
                                  name="Text"
                                  number_of_elements="1">
                <Hints>
                    <Widget type="multi_line" />
                </Hints>
            </StringVectorProperty>
            <DoubleVectorProperty default_values="1 0.85 0"
                                  name="BackgroundColor"
                                  label="Background Color"
                                  number_of_elements="3"
                                  panel_widget="color_selector">
                <DoubleRangeDomain max="1 1 1"
                                   min="0 0 0"
                                   name="range" />
            </DoubleVectorProperty>
            <Hints>
                <View type="None" />
            </Hints>
        </SourceProxy>
    </ProxyGroup>
</ServerManagerConfiguration>
