<ServerManagerConfiguration>
    <ProxyGroup name="settings">
        <SettingsProxy name="NetworkEditorSettings" label="Network Editor"
                       processes="client|dataserver|renderserver"
                       class="vtkPVNetworkEditorSettings">
            <Documentation>
                Settings for Network Editor plugin.
            </Documentation>

            <IntVectorProperty name="SwapOnStartup"
                               command="SetSwapOnStartup"
                               number_of_elements="1"
                               default_values="1">
                <Documentation>
                    Swap places with render view when starting ParaView.
                </Documentation>
                <BooleanDomain name="bool" />
            </IntVectorProperty>

            <IntVectorProperty name="UpdateActiveObject"
                               command="SetUpdateActiveObject"
                               number_of_elements="1"
                               default_values="1">
                <Documentation>
                    Set object as active when selecting objects in the network editor.
                </Documentation>
                <BooleanDomain name="bool" />
                <!--
                <Hints>
                    <SaveInQSettings />
                </Hints>
                -->
            </IntVectorProperty>

            <IntVectorProperty name="TooltipWakeupDelay"
                               command="SetTooltipWakeupDelay"
                               number_of_elements="1"
                               default_values="700">
                <Documentation>
                    Specify the delay before a tooltip is shown.
                </Documentation>
                <IntRangeDomain name="range" min="0" max="2000" />
            </IntVectorProperty>

            <IntVectorProperty name="AutoSavePipelineScreenshot"
                               command="SetAutoSavePipelineScreenshot"
                               number_of_elements="1"
                               default_values="0">
                <Documentation>
                    Automatically save pipeline screenshot when state file is saved or loaded alongside the state file.
                </Documentation>
                <BooleanDomain name="bool" />
            </IntVectorProperty>

            <StringVectorProperty name="AutoSavePipelineSuffix"
                                  command="SetAutoSavePipelineSuffix"
                                  number_of_elements="1"
                                  default_values=".pipeline.png">
                <Documentation>
                    Suffix to be appended to state filename for automatically saved pipeline screenshots.
                </Documentation>
                <Hints>
                    <PropertyWidgetDecorator type="GenericDecorator"
                                             mode="visibility"
                                             property="AutoSavePipelineScreenshot"
                                             value="1" />
                </Hints>
            </StringVectorProperty>

            <IntVectorProperty name="PipelineScreenshotTransparency"
                               command="SetPipelineScreenshotTransparency"
                               number_of_elements="1"
                               default_values="1">
                <Documentation>
                    Save pipeline screenshots with transparent background.
                </Documentation>
                <BooleanDomain name="bool" />
            </IntVectorProperty>


            <Hints>
                <UseDocumentationForLabels />
            </Hints>
        </SettingsProxy>
    </ProxyGroup>
    <ProxyGroup name="networkeditor">
        <Proxy name="NetworkEditorViewSettings">
            <DoubleVectorProperty name="Transform"
                                  label="Transform"
                                  default_values="1 0 0 0 1 0 0 0 1"
                                  number_of_elements="9" />
            <IntVectorProperty name="Scroll"
                               label="Scroll"
                               default_values="0 0"
                               number_of_elements="2" />
        </Proxy>
    </ProxyGroup>
    <ProxyGroup name="sources">
        <SourceProxy name="NetworkEditorDummySource" class="vtkPVTrivialProducer"/>
        <SourceProxy name="NetworkEditorStickyNote" label="Network Editor Sticky Note" class="vtkPVTrivialProducer">
            <StringVectorProperty default_values="Note"
                                  name="Caption"
                                  number_of_elements="1" />
            <StringVectorProperty default_values="Text"
                                  name="Text"
                                  number_of_elements="1">
                <Hints>
                    <Widget type="multi_line" />
                </Hints>
            </StringVectorProperty>
            <IntVectorProperty
                    name="EnableHTML"
                    label="Enable HTML"
                    number_of_elements="1"
                    default_values="0">
                <BooleanDomain name="bool"/>
            </IntVectorProperty>

            <DoubleVectorProperty default_values="0 0 0"
                                  name="CaptionTextColor"
                                  label="Text Color"
                                  number_of_elements="3"
                                  panel_widget="color_selector">
                <DoubleRangeDomain max="1 1 1"
                                   min="0 0 0"
                                   name="range" />
            </DoubleVectorProperty>
            <IntVectorProperty animateable="0"
                               default_values="0"
                               name="CaptionFontFamily"
                               number_of_elements="1">
                <EnumerationDomain name="enum">
                    <Entry text="Noto Sans" value="0" />
                    <Entry text="Arial" value="1" />
                    <Entry text="Courier" value="2" />
                    <Entry text="Times" value="3" />
                </EnumerationDomain>
            </IntVectorProperty>
            <IntVectorProperty animateable="0"
                               default_values="0"
                               name="CaptionBold"
                               number_of_elements="1">
                <BooleanDomain name="bool" />
            </IntVectorProperty>
            <IntVectorProperty animateable="0"
                               default_values="0"
                               name="CaptionItalic"
                               number_of_elements="1">
                <BooleanDomain name="bool" />
            </IntVectorProperty>
            <IntVectorProperty animateable="0"
                               default_values="13"
                               name="CaptionFontSize"
                               number_of_elements="1">
                <IntRangeDomain min="0"
                                name="range" />
            </IntVectorProperty>
            <IntVectorProperty animateable="0"
                               default_values="0"
                               name="CaptionJustification"
                               number_of_elements="1">
                <EnumerationDomain name="enum">
                    <Entry text="Left" value="0" />
                    <Entry text="Center" value="1" />
                    <Entry text="Right" value="2" />
                </EnumerationDomain>
            </IntVectorProperty>
            <PropertyGroup panel_widget="FontEditor" label="Caption Properties">
                <Property name="CaptionTextColor" function="Color"/>
                <Property name="CaptionFontFamily" function="Family"/>
                <Property name="CaptionBold" function="Bold"/>
                <Property name="CaptionItalic" function="Italics" />
                <Property name="CaptionFontSize" function="Size"/>
                <Property name="CaptionJustification" function="Justification"/>
            </PropertyGroup>
            <DoubleVectorProperty default_values="1 1 1"
                                  name="CaptionBackgroundColor"
                                  label="Caption Background Color"
                                  number_of_elements="3"
                                  panel_widget="color_selector">
                <DoubleRangeDomain max="1 1 1"
                                   min="0 0 0"
                                   name="range" />
            </DoubleVectorProperty>
            <DoubleVectorProperty default_values="0.25"
                                  name="CaptionOpacity"
                                  label="Caption Background Opacity"
                                  number_of_elements="1">
                <DoubleRangeDomain max="1" min="0" name="range" />
            </DoubleVectorProperty>
            <DoubleVectorProperty default_values="0 0 0"
                                  name="TextColor"
                                  label="Text Color"
                                  number_of_elements="3"
                                  panel_widget="color_selector">
                <DoubleRangeDomain max="1 1 1"
                                   min="0 0 0"
                                   name="range" />
            </DoubleVectorProperty>
            <IntVectorProperty animateable="0"
                               default_values="0"
                               name="FontFamily"
                               number_of_elements="1">
                <EnumerationDomain name="enum">
                    <Entry text="Noto Sans" value="0" />
                    <Entry text="Arial" value="1" />
                    <Entry text="Courier" value="2" />
                    <Entry text="Times" value="3" />
                </EnumerationDomain>
            </IntVectorProperty>
            <IntVectorProperty animateable="0"
                               default_values="0"
                               name="Bold"
                               number_of_elements="1">
                <BooleanDomain name="bool" />
            </IntVectorProperty>
            <IntVectorProperty animateable="0"
                               default_values="0"
                               name="Italic"
                               number_of_elements="1">
                <BooleanDomain name="bool" />
            </IntVectorProperty>
            <IntVectorProperty animateable="0"
                               default_values="10"
                               name="FontSize"
                               number_of_elements="1">
                <IntRangeDomain min="0"
                                name="range" />
            </IntVectorProperty>
            <IntVectorProperty animateable="0"
                               default_values="0"
                               name="Justification"
                               number_of_elements="1">
                <EnumerationDomain name="enum">
                    <Entry text="Left" value="0" />
                    <Entry text="Center" value="1" />
                    <Entry text="Right" value="2" />
                </EnumerationDomain>
            </IntVectorProperty>
            <PropertyGroup panel_widget="FontEditor" label="Text Properties">
                <Property name="TextColor" function="Color"/>
                <Property name="FontFamily" function="Family"/>
                <Property name="Bold" function="Bold"/>
                <Property name="Italic" function="Italics" />
                <Property name="FontSize" function="Size"/>
                <Property name="Justification" function="Justification"/>
            </PropertyGroup>
            <DoubleVectorProperty default_values="1 0.85 0"
                                  name="BackgroundColor"
                                  label="Text Background Color"
                                  number_of_elements="3"
                                  panel_widget="color_selector">
                <DoubleRangeDomain max="1 1 1"
                                   min="0 0 0"
                                   name="range" />
            </DoubleVectorProperty>
            <DoubleVectorProperty default_values="0.25"
                                  name="Opacity"
                                  label="Text Background Opacity"
                                  number_of_elements="1">
                <DoubleRangeDomain max="1" min="0" name="range" />
            </DoubleVectorProperty>
            <Hints>
                <View type="None" />
                <ShowInMenu category="Network Editor" />
            </Hints>
        </SourceProxy>
    </ProxyGroup>
</ServerManagerConfiguration>
